{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "endOfLine": "auto",
  "importOrder": [
    "^(react|next|next/.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/config/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^@/stores/(.*)$",
    "^@/actions/(.*)$",
    "^@/components/(common|layout)/(.*)$",
    "^@/components/(Main|Place|Result)/(.*)$",
    "^@/components/(.*)$",
    "^@/app/(.*)$",
    "^@/(.*)$",
    "^[./]",
    ".+\\.(css|scss|sass)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"]
}
