@import 'tailwindcss';
@import 'tailwindcss-animated';

@font-face {
  font-family: 'MitmiFont';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff')
    format('woff');
  font-weight: 100;
  font-display: swap;
}

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pretendard: 'Pretendard';
  --font-mitme: 'MitmiFont';

  --color-brand-50: #f5feff;
  --color-brand-100: #e6fafc;
  --color-brand-200: #cff8fb;
  --color-brand-300: #9fe5f1;
  --color-brand-400: #4fccde;
  --color-brand-500: #00aacc;
  --color-brand-600: #0090ae;
  --color-brand-700: #006477;
  --color-brand-800: #054356;
  --color-brand-900: #1e3a4c;
  --color-brand-accent: #ffb347;
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
